@model ApplicationCore.DTOs.SaveDTOs.SaveLoaiMonAnDTO

@{
    ViewData["Title"] = "Quản lý loại thức ăn";
}

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Thêm loại thức ăn</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left" asp-action="Create" asp-controller="LoaiMonAn" method="post">

                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Ten"></label>
                        <div class="col-md-6 col-sm-6 ">
                          <input type="text"class="form-control " asp-for="Ten">
                        </div>
                      </div>
           
                      <div class="ln_solid"></div>
                      <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
						  <a asp-action="Index">Back to List</a>
                          <button type="submit" class="btn btn-success">Create</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>


