@model ApplicationCore.DTOs.LoaiMonAnDTO

@{
    ViewData["Title"] = "Quản lý loại món ăn";
}
             <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Xóa loại món ăn</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Ten"></label>
                        <div class="col-md-6 col-sm-6 ">
                          <input asp-for="Ten" class="form-control" readonly/>
                        </div>
                        <div>
                           <i style="color:red"> @ViewBag.MessageError</i>
                        </div>
                      </div>
           
                      <div class="ln_solid"></div>
                      <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                           
                            <form asp-action="Delete" method="post">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" style="margin-left:20px"/>
                            </form>
                             <a asp-action="Index" style="margin-top:10px;margin-left:20px">Back to List</a>
                        </div>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>

