@model ApplicationCore.Entitites.ThucDon
@using ApplicationCore.Entitites;
@{
    ViewBag.Title = "Chỉnh sửa món ăn";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="ThucDon" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdLoaiMonAn" class="control-label"></label>
                	<select name="IdLoaiMonAn" id="IdLoaiMonAn" class="form-control">
                        @foreach (LoaiMonAn s in ViewData["ListLoaiMonAn"] as  IEnumerable<LoaiMonAn>)
                        {
                             if (Model.IdLoaiMonAn == s.Id) 
                                {
                                    <option value="@s.Id" selected>
                                          @s.Ten
                                    </option>
                                } 
                             else 
                                { 
                                    <option value="@s.Id">
                                          @s.Ten
                                    </option>
                                }
                        }
                    </select>
                <span asp-validation-for="IdLoaiMonAn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
