@model ApplicationCore.ModelsContainData.ViewModels.ThongKeVM

@{
    ViewData["Title"] = "Thống kê";
}
<div class="x_content">
    <div class="row">

    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>


