@model  QuanLyNhaHang.ViewModels.ServeVM
@{
    Layout=null;
}

            <table class="table table-stripe">
               <tr>
                    <th>Tên món ăn</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                     <th>Sửa</th>
                </tr>
                
                @foreach (var item in Model.ChiTietHoaDons)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenMonAn)
                        </td>
                         <td>
                           <input asp-for="@item.SoLuong" type="number" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                        <td>
                           chỉnh sửa ....
                        </td>
                    </tr>
                }
               
            </table>
            <input type="hidden" id="laythanhtoan" value="@Model.HoaDon.ThanhTien"/>