@model ApplicationCore.DTOs.SaveDTOs.SaveThucDonDTO
@using ApplicationCore.DTOs;
@{
    ViewData["Title"] = "Quản lý thực đơn";
}

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Thêm món ăn</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form asp-action="Create" asp-controller="ThucDon" method="post" class="form-horizontal form-label-left">

                        <div class="item form-group">
                            <label asp-for="IdLoaiMonAn" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-6 col-sm-6 ">
                                <select asp-for="IdLoaiMonAn" id="IdLoaiMonAn" class="form-control">
                                        @foreach (LoaiMonAnDTO s in ViewData["ListLoaiMonAn"] as IEnumerable<LoaiMonAnDTO>)
                                        {
                                            <option value="@s.Id"> @s.Ten </option>
                                        }
                                </select>
                                <span asp-validation-for="IdLoaiMonAn" class="text-danger"></span>
                            </div>
                        </div>
           
                        <div class="item form-group">
                            <label asp-for="Ten" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-6 col-sm-6 ">
                                <input  asp-for="Ten" class="form-control" />
                                <span asp-validation-for="Ten" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label asp-for="Gia"  class="col-form-label col-md-3 col-sm-3 label-align"></label>
                            <div class="col-md-6 col-sm-6 ">
                                <input asp-for="Gia" class="form-control" />
                                <span asp-validation-for="Gia" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                            <a asp-action="Index" asp-controller="ThucDon">Back</a>
                            <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
