@model ApplicationCore.DTOs.SaveDTOs.SaveNguoiDungDTO

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDangNhap" class="control-label"></label>
                <input asp-for="TenDangNhap" class="form-control" />
                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" type="password"/>
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu</label>
                <input name="NhapLaiMatKhau" class="form-control" type="password"/>
                <i style="color:red">@ViewBag.MessageErrorNhapLaiMatKhau</i>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" style="padding:5px;margin-left:20px">
                    <option value="Nhân viên">Nhân viên</option>
                    <option value="Quản lý" >Quản lý</option>                       
                </select>
            </div>
            <div class="form-group">
                <input asp-for="TrangThai" class="form-control" value="1" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
